

body {
    width: 800px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #bda7fb;
    
  }
  .container {
    width: 600px;
    margin: 0 auto;
  }
  fieldset {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-self: center;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0em;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    padding: 30px;
    background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center center no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-sizing: border-box;

    
  }
  .ghost-input, p {
    display: block;
    font-weight:300;
    width: 100%;
    font-size: 25px;
    border:0px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    font-family: Open Sans,Verdana;
    padding: 10px 15px;
    margin: 30px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    color: #FFF;
    border-radius: 5px;
  }
  .ghost-input:focus {
    border-bottom:1px solid #ddd;
  }
  .ghost-button {
    position: relative;
    background-color: transparent;
    border:2px solid #ddd;
    padding:10px 30px;
    margin-left: 66%;
    transition: all 0.1s ease-in-out;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    color: #FFF;
    top: -17px;
    left: 3px;
    border-radius: 5px;
  }
  .ghost-button:hover {
    background-color: #774ee7;

  }
  ::-webkit-input-placeholder {
    color: #DDD;
}

  p {
    background-color: #774ee7;
    color: #DDD;
    text-align: center;
  }
